<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reservation.mapper.CourseScheduleMapper">
        <!--, classroom_id  #{classroomId}, -->
    <!-- 新增 insertSchedule 方法，参数类型可根据需要调整为DTO类型（如CourseScheduleCreateDTO） -->
    <insert id="insertSchedule" parameterType="com.reservation.entity.CourseSchedule" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course_schedule
        (schedule_id, course_id, time_zone, start_time, end_time, repeat_type, repeat_interval, repeat_days, status, available_sites)
        VALUES
        (#{scheduleId}, #{courseId}, #{timeZone}, #{startTime}, #{endTime}, #{repeatType}, #{repeatInterval}, #{repeatDays}, #{status}, #{availableSites})
    </insert>

    <select id="selectById" resultType="com.reservation.entity.CourseSchedule">
        SELECT * FROM course_schedule WHERE id = #{id}
    </select>
 
 
    <select id="selectList" parameterType="com.reservation.entity.CourseSchedule" resultType="com.reservation.entity.CourseSchedule">
        SELECT * FROM course_schedule
        <where>  ( 1==1 ) 
            <if test="scheduleId != null and scheduleId != ''">
                AND schedule_id = #{scheduleId}
            </if>
              <if test="courseId != null and courseId != ''">
                AND course_id = #{courseId}
            </if>
            <!--
            <if test="classroomId != null and classroomId != ''">
                AND classroom_id = #{classroomId}
            </if>  -->
            <if test="startTime != null">
                AND start_time &gt;= #{startTime}
            </if>
     
            <if test="endTime != null">
                AND end_time &lt; #{endTime}
            </if>
            <if test="repeatType != null">
                AND repeat_type = #{repeatType}
            </if>
            <if test="repeatInterval != null">
                AND repeat_interval = #{repeatInterval}
            </if>
            <if test="repeatDays != null and repeatDays != ''">
                AND repeat_days = #{repeatDays}
            </if>
              
        </where>
    </select>
       
    <update id="updateSites" parameterType="com.reservation.entity.IncSiteBody">
        UPDATE course_schedule
        SET available_sites = available_sites + #{inc}
        WHERE id = # {scheduleId}
    </update>
    
     <update id="updateStatus" parameterType="com.reservation.entity.StatusBody">
        UPDATE course_schedule
        SET status = # {status}
        WHERE id = # {scheduleId}
    </update>

    <update id="update" parameterType="com.reservation.entity.CourseSchedule">
        UPDATE course_schedule
        <set>
            <if test="courseId != null and courseId != ''">
                course_id = #{courseId},
            </if>
            <if test="teacherId != null and teacherId != ''">
                teacher_id = #{teacherId},
            </if>
            <!--  <if test="classroomId != null and classroomId != ''">
                classroom_id = #{classroomId},
            </if> -->
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="repeatType != null">
                repeat_type = #{repeatType},
            </if>
            <if test="repeatInterval != null">
                repeat_interval = #{repeatInterval},
            </if>
            <if test="repeatDays != null and repeatDays != ''">
                repeat_days = #{repeatDays},
            </if> 
             <if test="timeZone != null">
                AND time_zone = #{timeZone}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if> 
        </set>
        WHERE schedule_id = #{scheduleId}
    </update>

    
    <!-- 冲突检测核心SQL：查询时间区间有交集的排期，判断教师及时间 -->
    <select id="selectConflictingSchedules" resultType="com.reservation.entity.CourseSchedule">
        SELECT * FROM course_schedule
        WHERE status ="active"
                AND (course_id = #{course_id})
                AND start_time &lt; #{endTime}  -- 新排期开始 &lt; 已有排期结束
                AND end_time &gt; #{startTime}    -- 新排期结束 &gt; 已有排期开始
                <if test="excludeScheduleId != null">
                    AND id != #{excludeScheduleId}
                </if>
    </select>

    <select id="selectExceptionsByScheduleId" resultType="com.reservation.entity.ScheduleException">
        SELECT * FROM schedule_exception WHERE schedule_id = #{scheduleId}
    </select> 

</mapper>