<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CourseScheduleMapper">
        <!--, classroom_id  #{classroomId}, -->
    <insert id="insert" parameterType="com.example.entity.CourseSchedule" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course_schedule (course_id, teacher_id, start_time, end_time, repeat_type, repeat_interval, repeat_days, repeat_end_date, description)
        VALUES (#{courseId}, #{teacherId}, #{startTime}, #{endTime}, #{repeatType}, #{repeatInterval}, #{repeatDays}, #{repeatEndDate}, #{description})
    </insert>

    <select id="selectById" resultType="com.example.entity.CourseSchedule">
        SELECT * FROM course_schedule WHERE id = #{id}
    </select>
 
 
    <select id="selectList" parameterType="com.reservation.entity.CourseSchedule" resultType="com.reservation.entity.CourseSchedule">
        SELECT * FROM course_schedule
        <where>  ( 1==1 ) 
            <if test="teacherId != null and teacherId != ''">
                AND teacher_id = #{teacherId}
            </if>
              <if test="courseId != null and courseId != ''">
                AND course_id = #{courseId}
            </if>
            <!--
            <if test="classroomId != null and classroomId != ''">
                AND classroom_id = #{classroomId}
            </if>  -->
            <if test="startTime != null">
                AND start_time >= #{startTime}
            </if>
            <if test="endTime != null">
                AND end_time <= #{endTime}
            </if>
            <if test="repeatType != null">
                AND repeat_type = #{repeatType}
            </if>
            <if test="repeatInterval != null">
                AND repeat_interval = #{repeatInterval}
            </if>
            <if test="repeatDays != null and repeatDays != ''">
                AND repeat_days = #{repeatDays}
            </if>
            <if test="repeatEndDate != null">
                AND repeat_end_date = #{repeatEndDate}
            </if> 
        </where>
    </select>
       
    <update id="updateSites" parameterType="com.reservation.entity.IncSiteBody">
        UPDATE course_schedule
        SET available_sites = available_sites + #{inc}
        WHERE id = # {scheduleId}
    </update>
    
     <update id="updateStatus" parameterType="com.reservation.entity.StatusBody">
        UPDATE course_schedule
        SET status = # {status}
        WHERE id = # {scheduleId}
    </update>

    <update id="update" parameterType="com.reservation.entity.CourseSchedule">
        UPDATE course_schedule
        <set>
            <if test="courseId != null and courseId != ''">
                course_id = #{courseId},
            </if>
            <if test="teacherId != null and teacherId != ''">
                teacher_id = #{teacherId},
            </if>
            <!--  <if test="classroomId != null and classroomId != ''">
                classroom_id = #{classroomId},
            </if> -->
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="repeatType != null">
                repeat_type = #{repeatType},
            </if>
            <if test="repeatInterval != null">
                repeat_interval = #{repeatInterval},
            </if>
            <if test="repeatDays != null and repeatDays != ''">
                repeat_days = #{repeatDays},
            </if>
            <if test="repeatEndDate != null">
                repeat_end_date = #{repeatEndDate},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
        </set>
        WHERE schedule_id = #{scheduleId}
    </update>

    
    <!-- 冲突检测核心SQL：查询时间区间有交集的排期 AND (teacher_id = #{teacherId} OR classroom_id = #{classroomId} -->
    <select id="selectConflictingSchedules" resultType="com.example.entity.CourseSchedule">
        SELECT * FROM course_schedule
        WHERE status = 1
        AND (teacher_id = #{teacherId} )
        AND start_time < #{endTime}  -- 新排期开始 < 已有排期结束
        AND end_time > #{startTime}    -- 新排期结束 > 已有排期开始
        <if test="excludeScheduleId != null">
            AND id != #{excludeScheduleId}
        </if>
    </select>

    <select id="selectExceptionsByScheduleId" resultType="com.example.entity.ScheduleException">
        SELECT * FROM schedule_exception WHERE schedule_id = #{scheduleId}
    </select>

</mapper>