<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--定义meterparalist热表参数数据库定义
-->
<mapper namespace="com.ih.api.dal.MeterHistoryMapper">

    <resultMap type="com.ih.api.model.MeterPara" id="meterParaMap">
        <id column="id" property="id"/>
        <result column="stationCode" property="stationCode"/>
             <result column="AddTime" property="addTime"/>
            <result column="p30002" property="ai_HeatAcc"/>
            <result column="p30004" property="ai_HeatCur"/>
            <result column="p30006" property="ai_Heat_flow_acc"/>
            <result column="p30008" property="ai_Heat_flow_cur"/>
            <result column="p30010" property="ai_Heat_temp_in" javaType="float"/>
            <result column="p30011" property="ai_Heat_temp_out"/>
            <result column="p30013" property="ai_Water_acc"/>
            <result column="p30015" property="ai_Water_cur"/>
            <result column="p30018" property="ai_Elec_Acc"/>
            <result column="p30020" property="ai_Elec_cur"/>
            <result column="p30022" property="ai_Elec_factor"/>
    </resultMap>

    <sql id="Base_Column_List">
        `id`        ,
        `stationCode`,
        `AddTime`,
            `p30002`,        `p30004`,        `p30006`,        `p30008`,
            `p30010`,        `p30011`,
            `p30013`,        `p30015`,
            `p30018`,        `p30020`,         `p30022`,
    </sql>

    <select id="get" resultType="com.ih.api.model.MeterPara" resultMap="meterParaMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `meterhistory` WHERE id=#{id}
    </select>

    <select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM `meterhistory`   r
        LEFT JOIN rtustation as t on r.stationCode = t.stationCode
        LEFT JOIN HeatExchangeStation hes ON   hes.`id` = t.StationID
        LEFT JOIN company com ON hes.CompanyID=com.id
        WHERE TRUE
        <!-- 此处的名称，与dal.maper定义的相对应 -->
        <if test="CompanyID!=-1">
            and ( com.`id` =  #{CompanyID} OR com.`ParentID` =  #{CompanyID})
        </if>

        <if test="StationID!='-1'">
            and t.`stationID` = #{StationID}
        </if>
    </select>


    <select id="getPaging" resultMap="meterParaMap">
        SELECT
        r.`id`,
        r.`stationCode`,
         r.`AddTime`,
        r.`p30002`,r.`p30004`,r.`p30006`,r.`p30008`,
        r.`p30010`,r.`p30011`,r.`p30013`,
        r.`p30015`,r.`p30018`,r.`p30020`,r.`p30022`
        FROM `meterhistory` r
        LEFT JOIN rtustation as t on r.stationCode = t.stationCode
        LEFT JOIN HeatExchangeStation hes ON   hes.`id` = t.StationID
        LEFT JOIN company com ON hes.CompanyID=com.id
        WHERE TRUE
        <!-- 此处的名称，与dal.maper定义的相对应 -->
        <if test="CompanyID!=-1">
            and ( com.`id` =  #{CompanyID} OR com.`ParentID` =  #{CompanyID})
        </if>
        <if test="StationID!=-1">
            and t.`StationID`= #{StationID}
        </if>
        order by ${orderBy} limit #{offset},#{pageSize}
    </select>

</mapper>