<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ih.api.dal.RtuStationMapper">

    <resultMap type="com.ih.api.model.rtustation" id="RtuStationMap">
        <id column="id" property="id" />
        <result column="stationName" property="stationName" />
        <result column="stationCode" property="stationCode" />
        <result column="stationID" property="stationID" />
        <result column="number"    property="number" />
        <result column="ModifyDate" property="modifyDate" />
        <result column="dataValid" property="dataValid" />
        <result column="mem" property="mem" />
    </resultMap>
    
    <sql id="Base_Column_List">
      `id`,`stationName`,`stationCode`,`stationID`,`number`,`modifyDate`,`dataValid`,`mem`
    </sql>

    <select id="get" resultType="com.ih.api.model.rtustation" resultMap="RtuStationMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM rtustation WHERE id=#{id}
    </select>

    <select id="getByName" resultType="com.ih.api.model.rtustation" resultMap="RtuStationMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM rtustation WHERE stationName=#{statioName}
    </select>

    <!-- 保存 如果id= null，则变为add TBD  重点-根据站ID，填写站的远传注册码，用于连接站名与机组参数 -->
    <update id="update" parameterType="com.ih.api.model.rtustation"
            flushCache="true"
            statementType="PREPARED"
            timeout="20">
       Update rtustation
        <set>
           <if test="model.stationID!=null">
                 `stationID`=#{model.stationID},
              </if>
        <if test="model.stationCode!=null">
              `stationCode`=#{model.stationCode},
               </if>
        <if test="model.stationName!=null">
             `stationName`=#{model.stationName},
              </if>
        <if test="model.number!=null">
              `number`=#{model.number},
                       </if>
        <if test="model.dataValid!=null">
               `dataValid`=#{model.dataValid},
                       </if>
            <if test="model.ModifyDate!=null">
                `ModifyDate`=#{model.modifyDate},
            </if>
            <if test="model.mem!=null">
                `mem`=#{model.mem},
            </if>
        </set>
        WHERE id=#{model.id}
    </update>

    <update id="delete" parameterType="java.lang.Integer" statementType="PREPARED"
            timeout="20">
        update rtustation set DataValid =-1 WHERE id=#{id}
    </update>

    <insert id="insert" parameterType="com.ih.api.model.rtustation"
            flushCache="true"
            statementType="PREPARED"
            keyProperty="id"
            keyColumn=""
            useGeneratedKeys="true"
            timeout="20">
        INSERT INTO rtustation(`stationID`,`stationCode`,`stationName`,`number`,`dataValid`,`ModifyDate`,`Mem`)
         VALUES(#{model.stationID},#{model.stationCode},#{model.stationName},#{model.number},#{model.dataValid},
                  #{model.modifyDate},#{model.mem} )
    </insert>


    <select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*) FROM
        heatexchangestation AS w
        LEFT JOIN rtustation AS r ON r.stationID = w.id
        INNER JOIN heatexchangerunit AS u ON u.StationID = w.id
         <where>
             dataValid !=-1
             <if test="companyID!=-1">
                 AND w.`CompanyID`=#{companyID}
             </if>

        </where>
    </select>

    <select id="getPaging" resultType="com.ih.api.model.rtustation" resultMap="RtuStationMap">
        SELECT
        r.id,
        w.Name as stationName,
        w.id as stationID,
        r.stationCode as stationCode,
        Count(u.id) AS number,
        r.dataValid as dataValid,
        r.ModifyDate as modifyDate,
        r.Mem as Mem
        FROM
        heatexchangestation AS w
        LEFT JOIN rtustation AS r ON r.stationID = w.id
        INNER JOIN heatexchangerunit AS u ON u.StationID = w.id
        <where>
        <if test="companyID!=-1">
            AND w.`CompanyID`=#{companyID}
        </if>
        <if test="stationID!=-1">
            AND w.`id`=#{stationID}
        </if>
            <if test="stationName!=''">
                AND ( w.`Name` LIKE '%${stationName}%'
                     OR  r.stationCode   LIKE '%${stationName}%')
            </if>
        </where>
        GROUP BY  w.Name
        order by  w.id  limit #{offset},#{pageSize}
    </select>

</mapper>
