<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ih.api.dal.StationUnitMapper">

    <resultMap type="com.ih.api.model.StationUnit" id="stationUnitMap">
        <id column="id" property="id" />
        <result column="companyID" property="companyID" />
        <result column="stationID" property="stationID" />
        <result column="subID"      property="subID" />
        <result column="companyName" property="companyName" />
        <result column="stationName" property="stationName" />
        <result column="stationCode" property="stationCode" />
        <result column="unitName"   property="unitName" />
        <result column="mem" property="mem" />
    </resultMap>
    
    <sql id="Base_Column_List">
      `id`,`companyID`,`stationID`,`subID`,
        `companyName`,`stationName`,`stationCode`,'unitName', `mem`
    </sql>

    <select id="get" resultType="com.ih.api.model.StationUnit" resultMap="stationUnitMap">
        u.id,
        s.CompanyID  as companyID,
        s.id as stationID,
        u.UnitSqe as subID,
        s.CompanyName as companyName,
        s.Name as stationName,
        rtu.stationCode as stationCode,
        u.unitNumber as unitName,
        u.UpdateDesc as mem
        FROM   heatexchangerunit AS u
        LEFT JOIN heatexchangestation AS s ON u.StationID = s.id
        INNER JOIN rtustation AS rtu ON rtu.stationID = s.id
        INNER JOIN company AS c ON  c.id = s.CompanyID
        <where>
             u.`id`=#{id}
        </where>
    </select>


    <select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT count(*)
        FROM      heatexchangerunit AS u
        <!--  LEFT JOIN heatexchangerunitid AS ud ON ud.unitID = u.id -->
          LEFT JOIN heatexchangestation AS s ON u.StationID = s.id
          INNER JOIN rtustation AS rtu ON rtu.stationID = s.id
        INNER JOIN company AS c ON  c.id = s.CompanyID
       <!--  INNER JOIN company AS c ON  c.id = s.CompanyID  -->
        <where>
            <if test="companyID!=-1">
                AND s.`CompanyID`=#{companyID}
            </if>
            <if test="stationID!=-1">
                AND s.`id`=#{stationID}
            </if>
        </where>
    </select>

    <select id="getPaging" resultType="com.ih.api.model.rtustation" resultMap="stationUnitMap">
        SELECT
        u.id,
        s.CompanyID  as companyID,
        s.id as stationID,
        u.UnitSqu as subID,
        c.Name as companyName,
        s.Name as stationName,
        rtu.stationCode as stationCode,
        u.unitNumber as unitName,
        u.UpdateDesc as mem
        FROM      heatexchangerunit AS u
        LEFT  JOIN heatexchangestation AS s ON u.StationID = s.id
        INNER JOIN rtustation AS rtu ON rtu.stationID = s.id
        INNER JOIN company AS c ON  c.id = s.CompanyID
           <where>
               <if test="companyID!=-1">
                       AND s.`CompanyID`=#{companyID}
               </if>


        </where>
        order by  u.id  limit #{offset},#{pageSize}
    </select>

</mapper>
