<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reservation.mapper.CourseMapper">

   <select id="selectCourseList" parameterType="com.reservation.dto.CourseQueryParam" resultType="com.reservation.entity.Course">
      SELECT c.*
      FROM course c
      LEFT JOIN course_template t ON c.template_id = t.template_id
      <where> 
        <if test="courseName != null and courseName != ''">
          c.course_name LIKE CONCAT('%', #{courseName}, '%')
        </if>
        <if test="languageType != null and languageType != ''">
          t.language_type = #{languageType}
        </if>
        <if test="difficultyLevel != null and difficultyLevel != ''">
          t.difficulty_level = #{difficultyLevel}
        </if>
        <if test="teacherId != null and teacherId != ''">
          c.teacher_id = #{teacherId}
        </if>

        <if test="templateId != null and templateId != ''">
          c.template_id = #{templateId}
        </if>

        <if test="status != null and status != ''">
          c.status = #{status}
        </if>
      </where>
   </select>

   
   <select id="selectCourseListByPage" parameterType="com.reservation.query.CourseQueryPage" resultType="com.reservation.entity.Course">
      SELECT c.*
      FROM course c
      LEFT JOIN course_template t ON c.template_id = t.template_id
      <where>
        TRUE 
        <choose>
          <when test="courseName != null and courseName != ''">
            AND c.course_name LIKE CONCAT('%', #{courseName}, '%')
          </when>
        </choose>
        <choose>
          <when test="languageType != null and languageType != ''">
            AND t.language_type = #{languageType}
          </when>
        </choose>
        <choose>
          <when test="difficultyLevel != null and difficultyLevel != ''">
            AND t.difficulty_level = #{difficultyLevel}
          </when>
        </choose>
        <choose>
          <when test="teacherId != null and teacherId != ''">
            AND c.teacher_id = #{teacherId}
          </when>
        </choose>
        <choose>
          <when test="status != null and status != ''">
            AND c.status = #{status}
          </when>
        </choose>
      </where>
      <if test="pageSize != null and pageNum != null">
        LIMIT #{pageSize} OFFSET ${(pageNum - 1) * pageSize}
      </if>
   </select>

   
   <select id="selectCourseListCount" parameterType="com.reservation.query.CourseQueryPage" resultType="java.lang.Integer">
      SELECT COUNT(*) 
      FROM course c
      LEFT JOIN course_template t ON c.template_id = t.template_id
      <where>       
        TRUE 
        <choose>
          <when test="courseName != null and courseName != ''">
            AND c.course_name LIKE CONCAT('%', #{courseName}, '%')
          </when>
        </choose>
        <choose>
          <when test="languageType != null and languageType != ''">
            AND t.language_type = #{languageType}
          </when>
        </choose>
        <choose>
          <when test="difficultyLevel != null and difficultyLevel != ''">
            AND t.difficulty_level = #{difficultyLevel}
          </when>
        </choose>
        <choose>
          <when test="teacherId != null and teacherId != ''">
            AND c.teacher_id = #{teacherId}
          </when>
        </choose>
        <choose>
          <when test="status != null and status != ''">
            AND c.status = #{status}
          </when>
        </choose>
      </where> 
   </select>

      <!-- 根据课程ID查询课程形式，入参 courseId（课程ID），返回课程形式；TBD:可优化直接查询 course.template_id -->
      <select id="getClassFormByCourseId" parameterType="java.lang.String" resultType="java.lang.String">
      SELECT  t.class_form
      FROM course c
      LEFT JOIN course_template t ON c.template_id = t.template_id
      <where>
        TRUE
         AND c.course_id = #{courseId}  
      </where>
      </select>
</mapper>