<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reservation.mapper.UserMapper">;
            
    <!-- 通用结果集映射 -->
    <resultMap id="userResultMap" type="com.reservation.entity.User">
        <result column="user_id" property="userId"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
        <result column="learn_goal" property="learnGoal"/>
        <result column="language_level" property="languageLevel"/>
        <result column="name" property="name"/>
        <result column="qualification" property="qualification"/>
        <result column="language_type" property="languageType"/>
        <result column="status" property="status"/>
    </resultMap>;

    <!-- 根据手机号查询用户 selectByPhone -->
    <!-- 正确写法 -->
    <select id="selectByPhone" parameterType="String" resultType="com.reservation.entity.User">
        select * from user where phone = #{phone}
    </select>

    <!-- 根据邮箱查询用户 -->
    <select id="selectByEmail" parameterType="String" resultMap="com.reservation.entity.User">
        SELECT * FROM user  WHERE email = #{email}
    </select>

    <!-- 根据手机号或邮箱查询用户 -->
    <select id="selectByPhoneOrEmail" parameterType="String" resultMap="com.reservation.entity.User">
        SELECT * FROM `user` WHERE phone = #{account} OR email = #{account}
    </select>;

    <!-- 根据用户ID查询用户 -->
    <select id="selectById" parameterType="String" resultMap="userResultMap">
        SELECT * FROM `user` WHERE user_id = #{userId}
   </select>;

    <select id="list"  resultMap="userResultMap">
        SELECT * FROM `user` WHERE  true;
    </select>;
    <!-- 插入用户 user_id  自动创建-->
    <insert id="insert" parameterType="com.reservation.entity.User">
        INSERT INTO `user` (
             phone, email, password, role,
            learn_goal, language_level, name, qualification, language_type, status
        ) VALUES (
           #{phone}, #{email}, #{password}, #{role},
            #{learnGoal}, #{languageLevel}, #{name}, #{qualification}, #{languageType}, #{status}
        )
    </insert>;

    <!-- 更新用户密码 -->
    <update id="updatePassword" parameterType="com.reservation.entity.User">
        UPDATE `user` SET password = #{password} WHERE user_id = #{userId}
    </update>
    <!-- 更新用户信息， -->
    <update id="update" parameterType="com.reservation.entity.User">
        UPDATE `user`
        <set>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="role != null and role != ''">role = #{role},</if>
            <if test="learnGoal != null and learnGoal != ''">learn_goal = #{learnGoal},</if>
            <if test="languageLevel != null and languageLevel != ''">language_level = #{languageLevel},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="qualification != null and qualification != ''">qualification = #{qualification},</if>
            <if test="languageType != null and languageType != ''">language_type = #{languageType},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </set>
        WHERE user_id = #{userId}
    </update>

</mapper>
